body {
	width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #100805;
}

img {
	width: 130%;
}

.main{
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.wrapper{
position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 1608px;
}

.absolute{
	position: absolute;
}

.opacity{
	opacity: 0;
}


#particles-js{ 
	position:absolute;
	width: 100%;
	height: 100%; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; } 

canvas {
/*	background:url(https://i.imgur.com/KbKlmpk.png);*/
	background-size:cover;
	height:100%;
	width:auto;
/*	min-height:300px;*/
	/*height: 100%;*/
    min-height: 76vh;
}

.wrapper :nth-child(1){
	z-index: 1;
}

.wrapper :nth-child(3){
	z-index: 3;
}

.wrapper :nth-child(4){
	z-index: 2;
    bottom: -270px;
    right: -168px;
    transform: scale(1.5) rotate(348deg);
}

.wrapper :nth-child(5){
    z-index: 3;
}

.wrapper :nth-child(6){
    z-index: 3;
    bottom: -159px;
    left: -242px;
    opacity: 0.5;
}

.soft-light{
    mix-blend-mode: soft-light;
}

.left-scene-2{
    left: -267px;
    position: relative;
}

.screen{
    mix-blend-mode: screen;
}