body {
	width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #100805;
    font-family: Diablo;
    color: #a71e22;
}

@font-face {
 font-family: Diablo;
 src: url(../font/DiabloLight.ttf);
}


img {
	width: 130%;
}

h1{
    font-size: 8.2vw;
    position: absolute;
    bottom: -79px;
    z-index: 21;
    width: 100vw;
    text-align: center;
    left: -24px;
}

.main{
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.wrapper{
position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 1608px;
}

.absolute{
	position: absolute;
}

.opacity{
	opacity: 0;
}


#particles-js{ 
	position:absolute;
	width: 100%;
	height: 100%; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; } 

canvas {
	background-size:cover;
	height:100%;
	width:auto;
    min-height: 76vh;
}

.wrapper :nth-child(1){
	z-index: 1;
}

.wrapper :nth-child(3){
	z-index: 3;
}

.wrapper :nth-child(4){
	z-index: 2;
    bottom: -270px;
    right: -168px;
    transform: scale(1.5) rotate(348deg);
}

.wrapper :nth-child(5){
    z-index: 3;
}

.wrapper :nth-child(6){
    z-index: 3;
    bottom: -159px;
    left: -242px;
    opacity: 0.5;
}

.soft-light{
    mix-blend-mode: soft-light;
}

.left-scene-2{
    left: -267px;
    position: relative;
}

.screen{
    mix-blend-mode: screen;
}

.hide{
    display: none;
}

button{
    padding: 10px;
    font-size: 35px;
    background-color: rgb(16, 8, 5);
    color: white;
    border: 1px solid #a71e22;
    /*font-family: diablo;*/
    margin: 20px;
}

.signature {
    position: fixed;
    width: 100px;
    z-index: 20;
    left: 10px;
}

.btn_wrapper{
    padding-top: 50px;
    width: 70%;
    text-align: center;
}